@use "common"

header
  position: fixed
  top: 0
  left: 0
  display: flex
  padding: 20px 40px
  width: 100vw
  backdrop-filter: blur(20px)
  background: common.$background-blur-color
  align-items: center
  justify-content: center
  box-sizing: border-box
  z-index: 50

  .header__wrapper
    display: grid
    grid-template-columns: 1fr auto 1fr
    width: 100%
    max-width: 1200px
    align-items: center
    justify-content: space-between

    &__menu
      padding: 12px 10px
      height: 48px
      width: 48px
      border: none
      border-radius: 5px
      display: none
      flex-direction: column
      align-items: center
      justify-content: space-between
      background: transparent

      &:hover
        background: common.$surface-color

      span
        background: common.$on-surface-color
        border-radius: 5px
        height: 3px
        width: 100%

    &__logo
      margin: 0 30px
      width: 120px

    &__navigation
      margin: 0 20px

      &__list
        padding: 0
        margin: 0
        display: flex
        background: common.$surface-color
        border-radius: 50px
        list-style: none
        align-items: center

        &-item
          display: flex
          a
            margin: 0
            padding: 16px 26px
            font-size: common.$font-size-label-large
            font-weight: common.$font-weight-label-large
            color: common.$on-container-color
            text-decoration: none
            border-radius: 50px
            transition: 0.2s ease-in-out
            cursor: pointer
            box-sizing: border-box

            &:hover
              background: common.$container-color
              color: common.$on-container-color

          &.active
            a
              color: common.$on-secondary-color
              background: common.$secondary-color
              z-index: 10

    &__actions-list
      margin: 0 0 0 auto
      padding: 0
      display: flex
      list-style: none

      &-item
        display: flex
        margin: 0 5px

        &.mobile
          display: none

        &.default
          display: flex

        &.cart
          position: relative
          > span
            display: flex
            position: absolute
            top: -5px
            right: -5px
            padding: 5px 7px
            background: common.$secondary-color
            color: common.$on-secondary-color
            border-radius: 20px
            font-size: common.$font-size-label-small

        a, button
          margin: 0
          padding: 16px 16px
          display: flex
          border-radius: 50px
          background: common.$surface-color
          border: none
          transition: 0.2s ease-in-out
          align-items: center
          justify-content: center
          cursor: pointer

          &.secondary
            background: common.$secondary-color
            span
              color: common.$on-secondary-color

          img
            height: 20px
            width: 20px

          span
            margin: 0 10px
            color: common.$on-surface-color
            font-size: common.$font-size-label-large
            font-weight: common.$font-weight-label-large

@media all and (max-width: 1180px)
  header
    .header__wrapper
      &__navigation
        display: none
      &__menu
        display: flex

      &__actions-list
        &-item
          &.default
            display: none
          &.tablet
            display: flex

@media all and (max-width: 1180px)
  header
    .header__wrapper
      &__actions-list
        &-item
          &.tablet
            display: none
          &.mobile
            display: flex